<!DOCTYPE html>
<html>
<head>
  <title>MembersOnly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= link_to "sign out", logout_path , :method => :delete %>
<% else %>
  <%= link_to("sign in", login_path) %>
<% end %>
<br/>
<% flash.each do |name, msg| %>
  <%= msg %>
<% end %>

<%= yield %>

</body>
</html>
